{% block translations_row %}
    {{ form_errors(form) }}
    {% spaceless %}
        <div id="{{form.vars.id}}">
            <nav>
                <div class="nav nav-tabs" role="tablist">
                    {% for locale, fields in form.children %}
                        <a class="nav-item nav-link {%if loop.index == 1 %}active show{%endif%}" id="navs-{{form.vars.id}}-{{locale}}" data-toggle="tab" href="#{{form.vars.id}}-{{locale}}" role="tab" aria-controls="{{form.vars.id}}-{{locale}}" aria-selected="{{ loop.index == 1 ? 'true' : 'false'  }}">
                            {{ locale }}
                        </a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content">
                {% for locale, fields in form.children %} 
                    <div class="tab-pane fade {%if loop.index == 1 %}active show{% endif %}" id="{{form.vars.id}}-{{locale}}" role="tabpanel" aria-labelledby="nav-{{form.vars.id}}-{{locale}}">
                        {% for field in fields %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
